$font-main: "Fira Sans", Sans-Serif;
$font-ui: "Roboto", Sans-Serif;

$site-big-desktop-width: 2480px; // A4 300 dpi
$site-desktop-width: 1240px; // A4 150 dpi
$site-mobile-width: 620px; // A4 75 dpi
$site-small-mobile-width: 310px; // A4 37.5 dpi

$gradient-color-1: #01DCBA;
$gradient-color-2: #498FC2;