{% set home_active = "" %}
{% set search_active = "" %}
{% set skill_active = "" %}
{% set admin_active = "active" %}
{% set head_title = "Admin" %}
{% set search_name = "" %}

{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    !ERROR! !Not implemented! !ERROR!
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}